node_modules
.DS_Store
.tern-project
*.lock
mock2easy
*.bak
npm-debug.log*
yarn-debug.log*
yarn-error.log*
macaca-logs
macaca-tests
logs
diffbase
screenshots
*.log
build
.cs
.idea
.akconfig
.jscpd
.data
.vscode/message*
.history/