.micro-app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;

  .app-menu {
    width: 256px;

    .ant-menu {
      height: 100%;
    }
  }

  .app-content {
    flex: 1;
    padding: 16px;
  }
}